<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    
    <header>
        <div class="container">
            <div class="row">
                <div class="col">
                    Crypto Currency Checker
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container stock-container">
            <div class="row">
                <div class="col crypto-choice">
                    <a href="">
                        <div class="crypto">
                            <img src="" alt="">
                            <p>BTC</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="crypto">
                            <img src="" alt="">
                            <p>BTC</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="crypto">
                            <img src="" alt="">
                            <p>BTC</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="crypto">
                            <img src="" alt="">
                            <p>BTC</p>
                        </div>
                    </a>
                </div>
                <div class="col crypto-information">
                    <p>Price:</p>
                    <p>Price:</p>
                    <p>Price:</p>
                    <p>Price:</p>
                    <p>Price:</p>
                </div>
            </div>
        </div>
        
    </main>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>Copyright  ©<%= new Date().getFullYear() %>; Designed by Przemek Orzechowski</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="src/app.js"></script>
</body>
</html>