html, body{
    margin: 0;
    height: 100%;
}

body{
    background-color: hsl(0, 0%, 0%, 0.9);
    display: flex;
    flex-direction: column;
    color: white;
}


header{
    border-bottom: 2px solid white;
    padding: 10px;
    text-align: center;
    font-size: 2rem;
}

header h2{
    margin-left: 10px;
}

main{
    flex: 1;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    border: 2px solid white
}

.stock-container{
    border: 2px solid purple;
}

footer{
    padding: 10px;
    border-top: 2px solid white;
    color: white;
    text-align: center;
}